<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: rgb(224, 219, 219);">
    <br>
   <h1 align="center">ABOUT THIS PROJECT</h1>
   <br>
   <p  align="center" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">This Project's name is <b>
Doctor Appointment Application</b> in which any user / patient can book a appointment to a particular doctor</p>
   <p>********** Technologies used in this projects are *********** </p>
   <ul>
       <li> Frontend :- Angular</li>
       <li>Backend:- SpringBoot,JPA</li>
       <li>Database :- MySQL</li>
   </ul>

   <p>**********This Project is developed by **********</p>
   <ul>
    <li>Himanshu Kirme <a href="https://github.com/himanshuk123">Go to
          Github</a>
    </li>
    <li>Saisree Potnuru <a href="https://github.com/SaisreePotnuru">Go to
        Github</a></li>
    <li>Rashmitha Bodla</li>
    <li>Tushar Das <a href ="https://github.com/Tushar-r-das" > Go to Github</a></li>
   </ul>
   <p> ************ Under The Supervision of **************</p>
<ul>
    <li>
   Aruna ma'am <a href="https://github.com/arunajava567">Go to
    Github</a></li>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</ul>

</body>
</html>