
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body  style="background-color: white">
    
  
  <div class="container" align="center">
    <h1 align="center" style="color:black ;">Patient Profile </h1>
    <nav class="navbar navbar-default" style="background-color: rgb(2, 0, 0); " >
        <ul class="nav nav-pills " >
            <li class="nav-item">
                <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="/updatepatient">Update Profile</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="/addappointment">Add Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="/listdoc">Show All Doctors</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="/updateappointment">Update existing Appointment</a>
              </li>
              </ul>