<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body  style="background-color: black">
  

<div class="container" align="center">
  <h1 align="center" style="color:lightgray ;">Welcome! To Doctor Appointment</h1>
  <h2 align ="center" style ="color:white ;">"One doctor makes works for another"</h2>
  <nav class="navbar navbar-default" style="background-color: black; " >
    <a class="navbar-collapse" href="">
    </a>
    
    <ul class="nav nav-pills " >
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="home">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="logindoc">Doctor Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="loginpatient">Patient login</a>
      </li>
    <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listdoc">Display All Doctor</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="adddoc">Register Doctor</a>
    </li>
   
    <!-- <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updatedoc">Update Doctor</a>
    </li> -->
    <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listpatient">Display All Patient</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="addpatient">Register Patient</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updatepatient">Update Patient</a>
    </li>  -->
    <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listappointment">Display All Appointment</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="addappointment">Add Appointment</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updateappointment">Update Appointment</a>
    </li> -->
     <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="logoutdoc">Doctor_Logout</a> 
    </li> -->
     <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="patientprofile">PATIENT</a> 
    </li> -->
     <!-- <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="doctorprofile">DOCTOR</a> 
    </li> -->
  </ul>
  </nav>
  </div>
</body>
<footer style="background-color: lightblue;"></footer>
  <router-outlet></router-outlet>